body {
  margin: 0;
  font-family: "Raleway";
  /* background-image: linear-gradient(white, #FCF5E8); */
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}
