.footer {
  background-image: url("./images/footer.png");
  width: 100vw;
  height: 12vh;
  color: #fcf5e8;
  font-size: 14px;
  padding: 40px;
  display: inline-flex;
}

.footer-brand {
  width: 100px;
}

.footer-copyright {
    padding-top: 30px;
}

.footer-contact {
  text-align: right;
  position: absolute;
  right: 0;
  margin-right: 50px;
}

.footer-title {
  font-weight: 800;
  padding-bottom: 10px;
}

.contact {
    padding-bottom: 10px;
}
