.title {
    background-image: url("https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}