.site-title {
  background-image: url("./images/home-title.png");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.timeline {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
}

.timeline-graphic {
  margin: auto;
  padding-top: 25px;
  width: 50%;
}

.timeline-text {
  display: inline-flex;
  text-align: center;
  width: 50%;
  justify-content: space-between;
}

.timeline-text-box {
  padding-top: 10px;
}

.destinations {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  background-image: url("./images/airplane-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 100px;
  width: 100%;
}

.polaroid-chain {
  display: inline-flex;
  text-align: center;
}

.mobile-polaroid-chain {
  display: none;
}

@media only screen and (max-width: 500px) {
  .polaroid-chain {
    display: none;
  }

  .mobile-polaroid-chain {
    display: block;
  }
}

.polaroid-destination {
  background-image: url("./images/destinations-graphic.png");
  height: 250px;
  width: 200px;
  box-shadow: 2px 2px 6px #b3b3b3;
  border-radius: 5px;
  margin: 25px;
  padding: 15px;
}

.dest-1 {
  transform: rotate(359deg);
}

.dest-0 {
  transform: rotate(2deg);
}

.destination-picture {
  width: 200px;
}

.destination-divider {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 10px;
}

.dest-text {
  font-size: 14px;
  font-family: Raleway;
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .polaroid-destination {
    height: 200px;
    width: 150px;
    padding: 15px;
    margin: 20px;
  }
  .destination-picture {
    width: 150px;
  }

  .destination-divider {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 10px;
  }

  .dest-text {
    font-size: 12px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
  .polaroid-destination {
    height: 160px;
    width: 125px;
    padding: 10px;
    margin: 10px;
  }
  .destination-picture {
    width: 125px;
  }

  .destination-divider {
    padding-top: 1px;
    padding-bottom: 1px;
    width: 10px;
  }

  .dest-text {
    font-size: 10px;
  }
}

.announcements {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.announcement-picture {
  width: 100%;
}

.blogs {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
}

.blog-picture {
  padding-top: 25px;
  width: 80%;
}

.news {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.news-panel {
  padding: 50px;
  display: inline-flex;
}

.news-block {
  margin: 20px;
  position: relative;
}

.news-image {
  width: 200px;
  height: 200px;
}

.news-title-background {
  /* background-color: #fcf5e8; */
  background-color: rgba(252, 245, 232, 0.6);
  height: 75px;
  width: 200px;
  margin: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

.news-title {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  width: 125px;
  margin-right: 0;
  margin-left: auto;
  font-weight: 800;
  text-align: right;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;   */
}

.mobile-news-panel {
  display: none;
}

@media only screen and (max-width: 900px) {
  .news-panel {
    display: none;
  }

  .mobile-news-panel {
    display: block;
  }
}

.home-undlerined {
  background-image: url("./images//curly-underline-2.png");
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center;
  background-position-y: 35px;
}
