.site-title {
  background-image: url("../images/home-title.png");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.timeline {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 100%;
}

.timeline-subtitle {
  width: 50%;
  margin: 0px auto 40px auto !important;
}

.timeline-graphic {
  margin: auto;
  padding-top: 25px;
  width: 57%;
}

.timeline-text-container {
  display: inline-flex;
  text-align: center;
  width: 60%;
  justify-content: space-between;
}

.timeline-text-container p {
  transition: all 275ms;
  -webkit-transition: all 275ms;
  cursor: pointer;
}

.timeline-text {
  width: 100%;
}

.timeline-text:hover > p {
  font-weight: bold;
}

.timeline-text p {
  padding-top: 15px;
}

.timeline-text-container svg {
  color: white;
  background-color: #bd9391;
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
}

.timeline-line {
  width: 100%;
  background-color: black;
  height: 1px;
  margin-top: 20px;
}

.timeline-text-box {
  padding-top: 10px;
}

.announcements {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.announcement-picture {
  width: 100%;
}

.blogs {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
}

.home-underlined {
  background-image: url("../images//curly-underline-2.png");
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: center;
  background-position-y: 80px;
  filter: grayscale(1);
}

.blog-picture {
  padding-top: 25px;
  width: 80%;
}
