.destinations {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
  background-image: url("../images/airplane-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 7rem;
  width: 100%;
}

.polaroid-chain {
  display: inline-flex;
  text-align: center;
  margin-top: 3rem;
}

.mobile-polaroid-chain {
  display: none;
}

.polaroid-destination {
  /* background-image: url("../images/destinations-graphic.png"); */
  background-color: whitesmoke;
  height: 300px;
  width: 225px;
  box-shadow: 2px 2px 6px #b3b3b3;
  border-radius: 5px;
  margin: 25px;
  padding: 15px;
  transition: all 275ms;
  -webkit-transition: all 275ms;
  cursor: pointer;
  filter: grayscale(100%);
}

.polaroid-destination:nth-child(even) {
  transform: rotate(-2deg);
}

.polaroid-destination:nth-child(odd) {
  transform: rotate(2deg);
}

.destination-picture {
  width: 225px;
}

.destination-divider {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 15px;
}

.explore-icon {
  position: absolute;
  bottom: -10px;
  left: -10px;
  background-color: transparent;
  padding: 0px;
  border-radius: 50px;
  color: transparent;
  visibility: hidden;
  transition: all 275ms;
  -webkit-transition: all 275ms;
}

.polaroid-destination:hover {
  filter: none !important;
  background-color: white;
  transform: scale(1.05);
}

.polaroid-destination:hover > .destination-divider {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.polaroid-destination:hover > .dest-text {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.polaroid-destination:hover > .explore-icon {
  background-color: rgb(76, 137, 187);
  color: white;
  padding: 15px;
  visibility: visible;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .polaroid-destination {
    height: 200px;
    width: 150px;
    padding: 15px;
    margin: 20px;
  }
  .destination-picture {
    width: 150px;
  }
  .destination-divider {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 10px;
  }
  .dest-text {
    font-size: 14px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .polaroid-destination {
    height: 160px;
    width: 125px;
    padding: 10px;
    margin: 10px;
  }
  .destination-picture {
    width: 125px;
  }
  .destination-divider {
    padding-top: 1px;
    padding-bottom: 1px;
    width: 10px;
  }
  .dest-text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 700px) {
  .polaroid-chain {
    display: none;
  }

  .mobile-polaroid-chain {
    display: block;
  }
}
